:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --basement-text-color: rgba(255, 255, 255, 0.6);
  --white-color: #FFFFFF;
  --black-color: #000000;
  --accent-color: #2196F3;
  --primary-btn-color: #F5F4FA;
  --activ-btn-color: #188CE8;
  --hero-bcgnd-color: #2F303A;
  --head-bcgnd-color: #ECECEC;
  --border-color: #EEEEEE;
  --border-client-color: #AFB1B8;
  --adress-icon-color: rgba(255, 255, 255, 0.1);
  --top-texbgnd-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --gradient-hero: linear-gradient rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}

.title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--head-bcgnd-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  border: 1px solid transparent;
  color: var(--white-color);
}
.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 24px;
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover, .button.primary:focus {
  color: var(--white-color);
  background-color: var(--activ-btn-color);
  cursor: pointer;
}
.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  background-color: var(--primary-btn-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover, .button.secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.header__conteiner {
  display: flex;
}

.header__logo {
  display: inline-block;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__web {
  text-decoration: none;
  color: var(--black-color);
}

.navigation {
  display: none;
  align-items: center;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

/* Site nav */
.navigation__menu {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link.current {
  color: var(--accent-color);
}
.navigation__link.current::after {
  content: "";
  display: flex;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: translateY(33px);
  position: relative;
}

/* Site Contacts */
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}

.contacts__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-open {
  margin-left: auto;
  border: none;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  left: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu > .conteiner-menu {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  border: none;
  background-color: var(--white-color);
}

.mobile-list__item {
  margin-bottom: 32px;
}

.mobile-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile-list__link:hover, .mobile-list__link:focus {
  color: var(--accent-color);
}
.mobile-list__link.currently {
  color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tel {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .tel {
    font-size: 34px;
  }
}

.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.contacts__link.mail {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link.mail {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link.mail:hover, .contacts__link.mail:focus {
  color: var(--accent-color);
}

.contacts__link.tel {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .contacts__link.tel {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link.tel:hover, .contacts__link.tel:focus {
  color: var(--accent-color);
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.soclink {
  display: flex;
  align-items: flex-start;
}

.soclink__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .soclink__link {
    font-size: 18px;
  }
}

.soclink__item:not(:last-child) {
  height: 22px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.soclink__item:not(:first-child) {
  padding-left: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-comment {
  margin-bottom: 20px;
}

.input-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.input-wrap {
  position: relative;
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px;
  resize: none;
  outline: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--black-color);
  padding-left: 39px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

/* Check Box */
.check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.check-input:checked + .check-lable .check-icon-title {
  background-color: var(--accent-color);
  border: none;
}

.check-lable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  fill: var(--white-color);
  border-radius: 4px;
  width: 16px;
  height: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  margin-left: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.send-modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.send-modal-button:hover, .send-modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section.no-padding {
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-section {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-section {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.hero {
  text-align: center;
  background-color: var(--hero-bcgnd-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2x.jpg);
  }
}

.hero-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero-box {
    max-width: 696px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 30px auto;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-item {
    width: calc((100% - 90px) / 4);
  }
}

.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--primary-btn-color);
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature-box:hover, .feature-box:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .feature-title {
    text-align: start;
  }
}

.feature-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-box {
  position: relative;
}

.work-text {
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  margin: 0;
  text-transform: uppercase;
  color: var(--white-color);
}

.team {
  background-color: var(--primary-btn-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);
}

.team-soc-icon {
  fill: var(--border-client-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-client-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
}

.client-soc-icon {
  fill: var(--border-client-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-soc-icon, .client-link:focus .client-soc-icon {
  fill: var(--accent-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

.filter-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .project {
    justify-content: flex-start;
  }
}

.project-item {
  width: 450px;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  position: relative;
}
@media screen and (min-width: 768px) {
  .project-item {
    width: 354px;
  }
}

.project-link {
  display: block;
  text-decoration: none;
}
.project-link:hover .project-overley {
  transform: translateY(0);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-top {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.project-photo {
  width: 100%;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0;
}

.project-content {
  padding: 20px 24px 20px 24px;
}

.project-overley {
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
  background-color: var(--top-texbgnd-color);
  position: absolute;
  top: 0;
  margin: 0;
  padding: auto 24px auto 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bcgnd-color);
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    align-items: baseline;
  }
}

.section-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-box {
    margin-left: 0px;
    margin-bottom: 0px;
    align-items: flex-start;
  }
}

/* Footer Address Box */
.logo-secondary {
  margin-bottom: 28px;
}

.logo-secondary__link {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
  text-decoration: none;
  margin-top: 0;
}

.logo-secondary__web {
  color: var(--white-color);
}

.address__map {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .address__map {
    justify-content: flex-start;
  }
}

.address__map-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}

.address__mail {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .address__mail {
    justify-content: flex-start;
  }
}

.address__mail-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--basement-text-color);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail-link:hover, .address__mail-link:focus {
  color: var(--accent-color);
}

.address__tel {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .address__tel {
    justify-content: flex-start;
  }
}

.address__tel-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--basement-text-color);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__tel-link:hover, .address__tel-link:focus {
  color: var(--accent-color);
}

/* Footer Social Networks */
.social {
  margin-bottom: 60px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .social {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.social__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: var(--adress-icon-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--white-color);
}

/* Footer Sign Up Box */
.sign {
  display: block;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .sign {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .sign {
    margin: 0;
    width: 570px;
  }
}

.sign__text {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .sign__text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .sign__text {
    text-align: start;
  }
}

.sign__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .sign__form {
    flex-wrap: nowrap;
  }
}

.sign__input {
  width: 100%;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--white-color);
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sign__input:focus, .sign__input:hover {
  border-color: var(--accent-color);
}
.sign__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sign__input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sign__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .sign__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.sign__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.sign__button:hover, .sign__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.sign__icon {
  fill: var(--white-color);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */