:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --basement-text-color: rgba(255, 255, 255, 0.6);
    --white-color: #FFFFFF;
    --black-color: #000000;
    --accent-color: #2196F3;
    --primary-btn-color: #F5F4FA;
    --activ-btn-color: #188CE8;
    --hero-bcgnd-color: #2F303A;
    --head-bcgnd-color: #ECECEC;
    --border-color: #EEEEEE;
    --border-client-color: #AFB1B8;
    --adress-icon-color: rgba(255, 255, 255, 0.1);
    --top-texbgnd-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --gradient-hero: linear-gradient rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}