.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 40px;
    @include tablet {
    justify-content: center;
    }
}

.filter-item {
    margin-right: 8px;
    margin-bottom: 15px;
}



