.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include tablet {
        justify-content: flex-start;
    }
}

.project-item {
    width: 450px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    position: relative;
    @include tablet {
        width: 354px;
    }
}

.project-link {
    display: block;
    text-decoration: none;
&:hover .project-overley {
    transform: translateY(0);
    }
&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.project-top {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.project-photo {
    width: 100%;
}

.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 4px;
}

.project-text {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin: 0;
}

.project-content {
    padding: 20px 24px 20px 24px;
}

.project-overley {
    font-size: 18px;
    line-height: 28px;
    color: var(--white-color);
    background-color: var(--top-texbgnd-color);
    position: absolute;
    top: 0;
    margin: 0;
    padding: 122px 24px;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

